.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightsteelblue;
  color: white;
  font-weight: bold;
}

.select {
  min-width: 40%;
  padding: 10px;
  margin: 10px;
  text-align: left;
  color: #6f6e6c;
  font-weight: normal;
}

h2 {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 10px;
  width: 50%;
}

.loader {
  position: fixed;
  z-index: 999;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
